td
{
	text-align: center;
}

#board
{
	width: 750px;
	float: left;
	display: inline-block;
}

#board img
{
	height: 100px;
	width: 200px;
}

#tictactoetable
{
	background-color: #F5F5F5;
}

#scorearea
{
	float: right;
	margin-left: 10px;
}

#playarea
{
	width: 950px;
	margin: 35px;
}

#score
{
	font-weight: bold;
}
}